{{#if visitor.isAdmin}}
  {{admin-panel}}
{{else}}
  <div class="row">
    <div class="col-md-3">
      {{add-hookah}}
    </div>
    <div class="col-md-3">
      {{hookah-salary}}
    </div>
    <div class="col-md-6">
      {{monthly-stats}}
    </div>
  </div>
{{/if}}
