{{log globalDates.endAt globalDates.startAt}}
{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}Прибыль за месяц{{/text.headline}}
    {{/title.text}}
  {{/card.title}}

  {{#card.content class="layout-column layout-align-center"}}
    {{#paper-list}}
      {{#paper-item class="md-3-line"}}
        <div class="md-list-item-text">
          <p>Общая прибыль с кальянов: {{totalPrice}}грн</p>
          <p>Кол-во кальянов: {{hookahRequestsByUID.length}}</p>
          <p>Прибыль заведения: {{raTotalPrice}}грн ({{hookahRequestsByUID.length}} * 50)</p>
          <p>Прибыль Антохи: {{ownerTotalPrice}}грн ({{totalPrice}} - {{raTotalPrice}} - {{salaryTotalPrice}})</p>
          <p>Твоя зп {{salaryTotalPrice}}грн ({{hookahRequestsByUID.length}} x 20грн)</p>
        </div>
      {{/paper-item}}
    {{/paper-list}}
  {{/card.content}}
{{/paper-card}}