<div class="card">
  <div class="card-header">
    Кальяны за месяц
  </div>
  <div class="card-body">
    {{#if fetchHookahRequests.isRunning}}
        <div>
          ...loading
        </div>
      {{else}}
        <div>
          <p>Общая прибыль с кальянов за текущий месяц: {{totalPrice}}грн</p>
          <p>Кол-во кальянов за месяц: {{hookahRequestsByUID.length}}</p>
          <p>Твоя зп {{salaryTotalPrice}}грн ({{hookahRequestsByUID.length}} x 20грн)</p>
        </div>
        <div>
          {{ember-chart
              type='bar'
              data=chartData
              options=chartOptions
          }}
        </div>
      {{/if}}
  </div>
</div>